<div id="footer-container" style="position: absolute; right: 0; bottom: 0; left: 0;">
    <div class="container" style="padding-top:0px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
            <hr />
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" style="padding:0px 0px 20px 0px">
            <span class="footer-content">@Resource.Fildelase_takes_no_responsability_for_the_uploading_saving_and_sharing</span>
            <a href="https://twitter.com/Fildelase" target="_blank"><span class="footer-content pull-right" title="Twitter">Twitter<i class="fa fa-twitter-square" style="color: #5ea9dd; margin-left: 5px;"></i></span></a>
            <a href="https://www.facebook.com/fildela.se" target="_blank"><span class="footer-content pull-right" style="margin-right:10px;" title="Facebook">Facebook<i class="fa fa-facebook-square" style="color: #4862a3; margin-left: 5px;"></i></span></a>
        </div>

        <div class="hidden-lg hidden-md hidden-sm col-xs-12" style="padding:0px 0px 20px 0px">
            <a href="https://www.facebook.com/fildela.se" target="_blank"><span class="footer-content hidden-lg" style="margin-right:10px;" title="Facebook">Facebook<i class="fa fa-facebook-square" style="color: #4862a3; margin-left:5px;"></i></span></a>

            <a href="https://twitter.com/Fildelase" target="_blank"><span class="footer-content" title="Twitter">Twitter<i class="fa fa-twitter-square" style="color: #5ea9dd; margin-left: 5px;"></i></span></a>
        </div>
    </div>

    <div style="background-color: #2f2f2f;">
        <div class="container" style="padding-top:0px;">
            <span class="footer-content-w">@Resource.Copyright © 2014 - @DateTime.UtcNow.AddHours(1).Year @System.Web.Configuration.WebConfigurationManager.AppSettings["ProductNameWithDomain"]</span>
            
            <span class="footer-content-w hidden-xs pull-right">@Resource.All_rights_reserved</span>
        </div>
    </div>
</div>